banners/*
braille/*
charsets
data
doc-root/*/*
drv
examples
ipptool
locale
mime
ppd-updaters
ppdc
usb
templates/*/*
*.ppm
*.default
test-drivers
doc-root/apple-touch-icon.png
doc-root/cups-printable.css
doc-root/cups.css
doc-root/robots.txt
